.textarea {
  display: flex;
  min-height: 80px;
  width: 100%;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid hsl(var(--input));
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.textarea::placeholder {
  color: hsl(var(--muted-foreground));
}

.textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px hsl(var(--ring));
}

.textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.textarea[aria-invalid="true"] {
  border-color: hsl(var(--destructive));
}

.textarea[aria-invalid="true"]:focus-visible {
  box-shadow: 0 0 0 1px hsl(var(--destructive));
}
